<router-outlet></router-outlet>
<div>
    <mat-form-field class="searxh-field">
        <mat-label>Search or Filter by text</mat-label>
        <input matInput class="example-full-width" (keyup)="applyFilter($event)" placeholder="Serach / Filter" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData(dataSource)">
        <ng-container matColumnDef="sendAt" style="white-space:nowrap;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.sendAt}} </td> 
        </ng-container>
        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef> isActive </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.isActive}} </td>
        </ng-container>
        <ng-container matColumnDef="hasIntrests">
            <th mat-header-cell *matHeaderCellDef> hasIntrests </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.hasIntrests}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let assignment" style="white-space:nowrap;"> {{assignment.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.address}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.gender}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.country}} </td>
        </ng-container>
        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.tags}} </td>
        </ng-container>
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef> Content </th>
            <td mat-cell class="content-field" *matCellDef="let assignment"> {{assignment.content}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalSize"
        [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
</div>